<!DOCTYPE html>
<html lang="en-ca">
  <head>
    <meta charset="utf-8">
    <title>Adventures with Claire</title>
    <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
  </head>
  <body>

  <header>
    <h1>Adventures with Claire</h1>
    <li><a href="{{site.baseurl}}/" class="current">Home</a></li>
    <li><a href="{{site.baseurl}}/blog">Blog</a></li>
    {% include nav.html %}
  </header>

    {{content}}

  <footer>
    {% include nav.html %}
    <p>© 2016 Adventures with Claire</p>
  </footer>

  </body>
  </html>
